<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="StartTraining(f)" #f="ngForm">
<mat-card fxFlex.xs="100%" fxFlex="400px">
    <mat-card-title fxLayoutAlign="center">
      Start New Training!
    </mat-card-title>
    <mat-card-content fxLayoutAlign="center">

        <mat-form-field>
            <mat-label>Select Excersice</mat-label>
            <mat-select ngModel name="excersice" required>
              <mat-option *ngFor="let e of excersices" [value]="e.id">
                {{e.name}}
              </mat-option>

            </mat-select>
          </mat-form-field>

    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
    </mat-card-actions>
</mat-card>
</form>
</section>
